
* {
  padding: 0;
  margin: 0; 
  color:white;
  min-height: 100%;
}

html, body {
  height: 100%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

header {
    min-height:50px;
    background:#193441;
    width:100%;
    margin:0px auto;
    text-align: center;
    color: white;
}

h1{
  font-weight: bold;
  font-size: 4em;
}


#title-wrapper{
  padding-top: 0em;
}

#login{
  padding-top: 10em;
  

}

#page-wrapper{
  background: #1A7EBE;
  width: 70%;
  margin:0px auto;
  min-height: 100%;
  vertical-align: middle;
  text-align: center;
}



input.button {
  width: 10%;
  background-color: #193441;
  border-color: #193441;
  border-style: none;
  color: white;
  border-radius: 10px;
  height: 30px;
  font-weight: bold;
  font-size: 1em;
  margin-top: 10px;
}


table {
  text-align: center;
  margin:0px auto;
  text-align: middle;
}

td:nth-of-type(3n-2) {
    background-color:  #164672;
    text-align: middle;
    border-radius: 10px;
    margin: 10px;
    padding: 0.8em;
    font-size: 1.5em;
}

td:nth-of-type(3n-1) {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    color:#1A7EBE;
    font-size: 1.5em;
}

td:nth-of-type(3n) {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    color:#1A7EBE;
    font-size: 1.5em;
}

th {
    background-color:  #164672;
    text-align: middle;
    border-radius: 10px;
    margin: 10px;
    padding: 0.8em;
    font-size: 1.5em;
}
