<h6>You are logged in as <%= @user.email %> </h6>



 <h3>Text files number <%=@file_list.files_per_category["text_files"]%> </h3>
 <h3>Text weight number <%=@file_list.weight_per_category["text_files"]%> </h3>


<h1>The total weight of your files is <%= @file_list.total_weight %> bytes </h1>
