<h1>Welcome to File Weight Watchers</h1>

<p>...because every little byte counts</p>
<h3> Please login to your account to display the weight of your files </h3>

    <form action="/files" method="POST" id="login-form">
        <label for="email" id="email">Email</label> <input type="text" name="email">
        <label for="password" id="password">Password</label> <input type="password" name="password">
        <span><input type="submit" value="Log in" class="button"></span>
    </form>
