<section id="login">

<h2> Please login to your account to weigh your files. </h2>
<br />

    <form action="/file_list" method="POST" id="login-form" class="sign_page_wrapper">
        <label for="email" id="email">Email</label> <input type="text" name="email">
        <label for="password" id="password">Password</label> <input type="password" name="password">
        <span><input type="submit" value="Log in" class="button"></span>
    </form>
</section>