<!DOCTYPE html>
<html>
  <head>
    <title>Workshare File Weight Watchers</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext,cyrillic-ext,greek-ext,greek,vietnamese,cyrillic' rel='stylesheet' type='text/css'>    
	<link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>

  <div id="page-wrapper">
  	<div id= "title-wrapper">

  		<h1>Welcome to File Weight Watchers</h1>

		<h2>...because every little byte counts.</h2>
	</div>
    <%= yield %>
  </div>
  </body>
</html>
