<!DOCTYPE html>
<html>
  <head>
    <title>File Weight Watchers</title>
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
  <h1>Welcome to File Weight Watchers</h1>

	<p>...because every little byte counts</p>

    <%= yield %>
  </body>
</html>
